select{
  color:rgb(0, 0, 0) !important
}
.table th{
  background-color: #1e76e2;
  color: #f5f5f5;
  font-size: 1rem;
}
.fill {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0.5rem;
}

.form-group-fill {
  width: auto;
  display: flex;
  justify-content: space-around;
  padding: 0 0.7rem;
  margin: 0.45rem 0rem;
  align-items: center;
  align-content: center;
}

.fill-label {
  margin: 0 0.45rem;
}

.fill-select {
  margin: 0 0.45rem;
}

.fill-select select {
  padding: 0.3rem 0.7rem;
  color: rgb(20, 20, 22);
}

.form-search{
    width: 22em;
}
.btn-add {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.btn{
  font-family: Arial, Helvetica, sans-serif;
}
.btn-mg{
  margin: 0.325rem;
}

.container-fluid{
  width: auto;
}

.hidden{
  visibility: hidden;
}

.content-wrapper{
  padding: 1.2rem 1.2rem;
}

.page-header{
  margin: 0.5rem;
}

.page-title{
  font-size: 1.345rem;
  padding: 0 1rem;
  margin: 0 0.5rem;
}
.row .card .card-body{
  padding: 1.2rem;
}
.table-responsive > .table-bordered {
  border: 1px solid #f5f5f5;
}

.updating{
  color: rgb(255, 0, 0);
  font-size: 0.875rem;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(204, 203, 223);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 155, 170);
}

.main-panel{
  animation: 0.2s ease-out 0s 1 slideInFromLeft;
  }

.td-user{
  display: flex;
  align-items: center;
  border: 0;
}
.td-user img{
  margin-right: 0.235rem;
  border-radius: 50% !important;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}


/* task select customer */

.containers {
  position: relative;
}
.list-select {
  background-color: #fdfdfd;
  padding: 0.2rem 0rem;
  max-height: 15rem;
  overflow: auto;
  position: absolute;
  top: 3rem;
  width: 93%;
  right: 1rem;
  z-index: 111;
}
.list-select li {
  padding: 0 0.85rem;
  cursor: pointer;
}
.list-select li:hover {
  background-color: #90bdf8;
  color: #ffffff;
}
.ic-dropdown {
  position: absolute;
  top: 0.45rem;
  right: 1.875rem;
  font-size: 1.65rem;
  cursor: pointer;

  transition: transform 0.2s ease-in-out;
}
.open {
  transform: rotate(90deg);
}
.selected {
  background-color: #1e76e2;
  color: #ffffff;
  pointer-events: none;
}
.span-name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 550;
}

/* task select customer */

/* tab */
.tab-controller{
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
}
.tab-controller li{
  display: inline;
  background-color: rgb(255, 255, 255);
  margin: 0.2rem 0.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: rgb(0, 0, 255);
}
.tab-controller li:hover{
  color: rgb(255, 94, 0);
  border-bottom: 3px solid rgb(255, 94, 0);
}
.tab-content{
  margin: 0.5rem;
  background-color: rgb(243, 235, 235);
}

.breadcrumb-item{
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10rem;
}

.view-more {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.select-tab-participant{
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #cec7c7;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
}
.select-tab-participant li{
  display: inline;
  background-color: rgb(245, 237, 237);
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: rgb(0, 0, 255);
}
.select-tab-participant .active{
  background-color: #ffffff;
  border: 1px solid #dad2d2;
  padding-bottom: 0.6rem;
  border-bottom: 0;
}

.add-user {
  background-color: #ffffff;
  max-width:95%;
  padding: 0 1.5rem;
  margin: 0 0.5rem 1.5rem 0.5rem;
  border-radius: 8px;
}
.info {
  margin-left: 0.5rem;
}
.user-info {
  display: flex;
  width: max-content;
  align-items: center;
  margin: 0.5rem 0;
  background-color: #edf0f5;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  position: relative;
}
.user-info img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.user-info .close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(202, 214, 226);
  border-radius: 50%;
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  cursor: pointer;
}

/* button css */
.btn-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-more{
  background-color: #ffffff00;
  border: 0;
  font-size: 1.523rem;
  border-radius: 50%;
}
.btn-more:hover{
  background-color: #faf6f6;
}

.btn-icon-danger{
  padding: 0.25rem;
  color: rgb(255, 119, 95);
}
.btn-icon-danger:hover{
  color: rgb(255, 8, 0);
  transform: scale(1.1);
}

.btn-icon-info{
  padding: 0.25rem;
  color: rgb(79, 126, 255);
}
.btn-icon-info:hover{
  color: rgb(0, 81, 255);
  transform: scale(1.1);
}

.btn-icon-success{
  padding: 0.25rem;
  color: rgb(79, 126, 255);
}
.btn-icon-success:hover{
  color: rgb(0, 81, 255);
  transform: scale(1.1);
}