.fill {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0.5rem;
}

.form-group-fill {
  width: auto;
  display: flex;
  justify-content: space-around;
  padding: 0 0.7rem;
  margin: 0.45rem 0rem;
  align-items: center;
  align-content: center;
}

.fill-label {
  margin: 0 0.45rem;
}

.fill-select {
  margin: 0 0.45rem;
}

.fill-select select {
  padding: 0.3rem 0.7rem;
  color: rgb(20, 20, 22);
}

.form-search{
    width: 22em;
}
.btn-add {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.btn{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.1rem 0.2rem;
}

.container-fluid{
  width: auto;
}

.hidden{
  visibility: hidden;
}

.content-wrapper{
  padding: 1.2rem 1.2rem;
}

.page-header{
  margin: 0 0 0.5rem 0;
}

.page-title{
  font-size: 1.345rem;
  padding: 0 1rem;
  margin: 0 0.5rem;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(204, 203, 223);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(156, 155, 170);
}

.main-panel{
  animation: 0.2s ease-out 0s 1 slideInFromLeft;
  }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

