p{
  margin: 0;
}
.fill {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0.5rem;
}

.form-group-fill {
  width: auto;
  display: flex;
  justify-content: space-around;
  padding: 0 0.7rem;
  margin: 0.45rem 0rem;
  align-items: center;
  align-content: center;
}

.fill-label {
  margin: 0 0.45rem;
}

.fill-select {
  margin: 0 0.45rem;
}

.fill-select select {
  padding: 0.3rem 0.7rem;
  color: rgb(20, 20, 22);
}

.form-search{
    width: 22em;
}
